<%= render "layouts/navbar2", user: @user %>
<style>
th, td, tr {
	padding-right: 15px;
}

.alert {
	border-radius: 5px;
	padding: 15px;
	background: #d8ecdb;
	color: #295529;
}
</style>

<div class="header">
<h2 class="active h2-title">Points Events</h2>
</div>
<div class="align-table" >
<button class="btn btn-decor" style="padding-left: 0rem;" > <%= link_to "Add a Points Event", new_point_event_path(@pointEvents), class:"back-button" %></button>
<table class="styled-table" >
	<tr>
		<th>Event</th>
		<th>Description</th>
		<th>Points</th>
		<th>Event Type</th>
		<th></th>
		<th>Actions<th>
	</tr>

	<% @pointEvents.each do |pointEvent| %>
	<tr>
		<td><%= pointEvent.name %></td>
		<td><%= pointEvent.description %></td>
		<td><%= pointEvent.points %></td>
		<td><%= pointEvent.eventType %></td>

		<td><%= link_to "Show", point_event_path(pointEvent) %></td>
		<td><%= link_to "Edit", edit_point_event_path(pointEvent) %></td>
		<td><%= link_to "Delete", delete_point_event_path(pointEvent) %></td>
	</tr>
	<% end %>
</table>
</div>
