<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #ebebeb;
	}

	.alert {
		border-radius: 5px;
		padding: 15px;
		background: #d8ecdb;
		color: #295529;
	}
</style>

<%= link_to "Back to Events", event_index_path %>

<h1>Add a Points Event</h1>

<p>* denotes required fields.<p>

<%= form_with url:"/point_event", model: @pointEvent do |form| %>
	<table style="text-align: left">
		<tr>
			<th><%= form.label :name %>*</th>
			<td><%= form.text_field :name, required: true %></td>
		</tr>
		<tr>
			<th><%= form.label :description %></th>
			<td><%= form.text_field :description %></td>
		</tr>
		<tr>
			<th><%= form.label :points %>*</th>
			<td><%= form.number_field :points, required: true %></td>
		</tr>
	</table>

	<%= form.submit "Add Points Event" %>

<% end %>