

<section style="padding-top: 0px;">
	<% flash.each do |type, msg| %>
		<div class="alert">
			<%= msg %>
		</div>
	<% end %>

<div class="header">
    <h2 class="active h2-title">Admin Dashboard</h2>
</div>

<div class="h2-title">
    <h3 class="text upper">Officers </h3>
    <button class="btn" style="padding-left: 0rem;"> <%= link_to "\u2190".encode('utf-8'), users_path, class: "back-button" %> </button>
    <button class="btn" style="padding-left: 0rem;"> <%= link_to "\uFF0B".encode('utf-8'), new_officer_path, class: "back-button" %> </button>
</div> 

<table class="styled-table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Email</th>
        <th>Image Uploaded</th>
        <th colspan="2">Actions</th>
        
    </tr>


<% @officers.each do |officer| %>
    <tr>
        <td><%= link_to officer.name, officer_path(officer) %></td>
        <td><%= officer.description  %></td>
        <td><%= officer.email  %> </td>
        <td><%=  officer.image.attached? ? :"Yes" : :"No"  %></td>
        <td><%= link_to "Edit", edit_officer_path(officer) %></td>
        <td><%= link_to 'Remove', officer_path(officer), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>

</table>

</section>
<%= render "layouts/footer" %>