
<section style="padding-top: 0px;">

<div class="header h2-title">
        <button class="btn" style="padding-left: 0rem;"> <%= link_to officers_path, class: "nor-button small" do %>
		<%= fa_icon "arrow-circle-left", size: '3x' %><span class="lbl">Back</span><% end %>
		</button>
    </div>

    <% flash.each do |type, msg| %>
	<div class="alert">
		<%= msg %>
	</div>
    <% end %>

<div class="header2">
	<h2 class="active h2-title">Admin Dashboard</h2>
</div>

<div class="h2-title">
	<h3 class="text upper">Create An Officer</h3>
</div> 

<div class="wrapper fadeInDown">
  <div id="formContent">
  <h2 class="active">New Officer</h2>

  <%= form_with model: @officer do |form| %>
  
    <div>
      <%= form.text_field :name, placeholder: "name" %>
      <%= form.text_field :email , placeholder: "email " %>
      <%= form.text_field :description  , placeholder: "description  " %>
      <%= form.file_field :image  , placeholder: "image  " %>
      <%= form.submit %>
    </div>
  <% end %>
  </div>
</div>
</section>