<%= link_to 'Remove', @officer, method: :delete, data: { confirm: 'Are you sure?' } %>
<h1><%= @officer.name %></h1>
<h4>"<%= @officer.email %>"</h4>
<h4>"<%= @officer.photoUrl %>"</h4>
<h4>"<%= @officer.description %>"</h4>

