<%= render "layouts/navbar2", user: @user %>
<section style="padding-top: 0px;">
<% flash.each do |type, msg| %>
	<div class="alert">
		<%= msg %>
	</div>
<% end %>

<div class="header">
    <h2 class="active h2-title">Admin Dashboard</h2>
</div>

<div class="h2-title">
    <h3 class="text upper">Officer Information </h3>
    <button class="btn" style="padding-left: 0rem;"> <%= link_to "\u2190".encode('utf-8'), officers_path, class: "back-button" %> </button>
</div> 
<br> 

 <table class="styled-table">
	<tr>
		<th>Name</th>
		<td><%= @officer.name %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @officer.description %></td>
	</tr>
	<tr>
		<th>Email</th>
		<td><%= @officer.email %></td>
	</tr>
</table>
  <br> </br>
  <div align="center">
 <% if @officer.image.attached? %>
              <% if flash[:notice] %>
                <div class="notice"><%= flash[:notice] %></div>
              <% end %>
              <%= image_tag @officer.image, style: "padding-left: 100px; padding-right: 100px;", size: "700x700"  %>

<% end %>
</div>

</section>
<%= render "layouts/footer" %>