<table class="styled-table small">
	<tr>
		<th>Engagement</th>
		<td><%= @point_event.name %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @point_event.description %></td>
	</tr>
	<tr>
		<th>Points awarding</th>
		<td><%= @point_event.points %></td>
	</tr>
	<tr>
		<th>Capacity</th>
		<td><%= PointEvent.display_capacity(@point_event) %></td>
	</tr>
	<tr>
		<th>Documents</th>
		<td>
			<% @point_event.documents.each do |file| %>
				<ul><%= link_to file.filename, rails_blob_path(file) %></ul>
			<% end %>
		</td>
	</tr>
</table>