<%= render "layouts/navbar2", user: @user %>
<section style="padding-top: 0px;">
	<!--Header -->
	<div class="header">
		<h2 class="active h2-title">Admin Dashboard</h2>
	</div>

	<div class="h2-title">
		<h3 class="text upper">Edit An Engagement</h3>
		<button class="btn"  style="padding-left: 0rem;"> <%= link_to "Back to Events", event_index_path, class:"back-button" %> </button>
	</div> 
	<!--Form -->
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<h2 class="active">Edit Engagement</h2>
			<p>* denotes required fields.<p>
			<%= form_with :method => :PATCH, url:"/point_event/#{@pointEvent.id}", model: @pointEvent do |form| %>
				<table class="center-edit">
					<tr>
						<th><%= form.label :name %>*</th>
						<td><%= form.text_field :name %></td>
					</tr>
					<tr>
						<th><%= form.label :description %></th>
						<td><%= form.text_field :description %></td>
					</tr>
					<tr>
						<th><%= form.label :points %>*</th>
						<td><%= form.number_field :points %></td>
					</tr>
				</table>
				<%= form.submit "Save Changes" %>
			<% end %>
		</div>
	</div>
	<!--Members That Attended Table -->
	<br></br>
	<div class="h2-title">
		<h3 class="text upper">Members That Attended</h3>
	</div>
	<table class="styled-table">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Action</th>
		</tr>

		<% @pointEvent.users.each do |user| %>
		<tr>
			<td><%= user.firstName %></td>
			<td><%= user.lastName %></td>
			<td><%= user.email %></td>
			<td><%= link_to "Remove", delete_user_point_event_path(id: @pointEvent.id, user_id: user.id), method: :delete, data: {confirm: "Are you sure you want to remove \"#{user.firstName} #{user.lastName}\"? \nOnce removed, the user will have to attend the points event again. Points that student received from this points event will also dissappear!"} %></td>
		</tr>
		<% end %>
	</table>
</section>
<%= render "layouts/footer" %>