<%= render "layouts/navbar2", user: @user %>
<style>
th, td, tr {
	padding-right: 15px;
}

.alert {
	border-radius: 5px;
	padding: 15px;
	background: #d8ecdb;
	color: #295529;
}
</style>

<%# Admin's View %>
<% if admin? %>

	<div class="h2-title" style="padding-top: 20px;">
		<h3 class="text upper">Engagements</h3>
		<button class="btn" style="padding-left: 0rem;" > <%= link_to "Add an Engagement", new_point_event_path(@pointEvents), class:"back-button" %></button>
	</div>

	<table class="styled-table" >
		<tr>
			<th>Event</th>
			<th>Description</th>
			<th>Points</th>
			<th>Capacity</th>
			<th colspan="4">Actions</th>
			<th>Attendance QRCode</th>
		</tr>

		<% @point_events.each do |point_event| %>
		
		<% if (@auth.attended_point_event?(point_event) == 2) %>
			<tr style="background-color: #d6ffe1;">
		<% elsif (@auth.attended_point_event?(point_event) == 1) %>
			<tr style="background-color: #fff6d6;">
		<% else %>
			<tr>
		<% end %>

			<td><%= point_event.name %></td>
			<td><%= point_event.description %></td>
			<td><%= point_event.points %></td>
			<td><%= PointEvent.display_capacity(point_event) %>
			
			<td><%= link_to "Show", point_event_path(point_event) %></td>
			<td><%= link_to "Edit", edit_point_event_path(point_event) %></td>
			<td><%= link_to "Delete", delete_point_event_path(point_event) %></td>
			<td><%= link_to "Sign up", sign_up_point_event_path(point_event) %>
			<td><%= link_to "QR", qr_point_event_path(point_event) %></td>
		</tr>
		<% end %>
	</table>

<%# Member's View %>
<% else %>

	<div class="h2-title" style="padding-top: 20px;">
		<h3 class="text upper">Engagements</h3>
	</div>

	<table class="styled-table" >
		<tr>
			<th>Engagement</th>
			<th>Description</th>
			<th>Points</th>
			<th>Capacity</th>
			<th colspan="2">Actions</th>
		</tr>

		<% @point_events.each do |point_event| %>
		
		<% if (@auth.attended_point_event?(point_event) == 2) %>
			<tr style="background-color: #d6ffe1;">
		<% elsif (@auth.attended_point_event?(point_event) == 1) %>
			<tr style="background-color: #fff6d6;">
		<% else %>
			<tr>
		<% end %>

			<td><%= point_event.name %></td>
			<td><%= point_event.description %></td>
			<td><%= point_event.points %></td>
			<td><%= PointEvent.display_capacity(point_event) %>

			<td><%= link_to "Show", point_event_path(point_event) %></td>
			<td><%= link_to "Sign up", sign_up_point_event_path(point_event) %>
		</tr>
		<% end %>
	</table>
<% end %>
