<%= render "layouts/navbar2", user: @user %>
<div class="header">
<button class="btn btn-decor"><%= link_to "Back to Events / Engagements", event_index_path, class: "back-button" %></button>
</div>
<div class="wrapper fadeInDown">
<div id="formContent">

<h2 class="active">Add an Engagement</h2>

<p>* denotes required fields.<p>
<p>A capacity of 0 represents "No Limit"</p>
<%= form_with url:"/point_event", model: @point_event do |form| %>
	<table style="text-align: center !important;">
		<tr>
			<th><%= form.label :name %>*</th>
			<td><%= form.text_field :name, placeholder: "Name" %></td>
		</tr>
		<tr>
			<th><%= form.label :description %></th>
			<td><%= form.text_field :description, placeholder: "Description" %></td>
		</tr>
		<tr>
			<th><%= form.label :points %>*</th>
			<td><%= form.number_field :points, placeholder: "Points" %></td>
		</tr>
		<tr>
			<th><%= form.label :capacity %>*</th>
			<td><%= form.number_field :capacity, placeholder: "Capacity" %></td>
		</tr>
		<tr>
			<th>Document(s)</th>
			<td><%= form.file_field :documents, multiple: true, direct_upload: true %></td>
		</tr>
	</table>
	<%= form.submit "Add Engagement" %>
<% end %>

</div>
</div>
<%= render "layouts/footer" %>
