<%= form_with model: @user do |form| %>
    <div>
        <%= form.label :email %><br>
        <%= form.email_field :email %>
    </div>

    <div>
        <%= form.label :firstName %><br>
        <%= form.text_field :firstName %>
        <% @user.errors.full_messages_for(:firstName).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :lastName %><br>
        <%= form.text_field :lastName %>
        <% @user.errors.full_messages_for(:lastName).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    
    <div>
        <%= form.label :role %><br>
        <%= form.select :role, options_for_select([["Member", 0], ["Admin", 1]]), :prompt => 'Select Role' %>
    </div>

    <div>
        <%= form.label :phoneNumber %><br>
        <%= form.telephone_field :phoneNumber %>
    </div>

    <div>
        <%= form.label :classification %><br>
        <%= form.select :classification, options_for_select(["Freshman","Sophomore", "Junior", "Senior"]),:prompt => 'Select Year' %>
    </div>

    <div>
        <%= form.label :tShirtSize %><br>
        <%= form.select :tShirtSize, options_for_select(["XXS","XS","S", "M", "L", "XL", "XXL"]), :prompt => 'Select Size' %>
    </div>

    <div>
        <%= form.label :participationPoints %><br>
        <%= form.number_field  :participationPoints %>
    </div>


    <div>
        <%# <%= form.label :optInEmail , :false<br> %> 
        <%= form.label :optInEmail %><br>
        <%= form.check_box :optInEmail %>
   </div>

    <div>
        <%= form.label :approved %><br>
        <%= form.check_box :approved %>
   </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>

<%= link_to "View All Users", users_path %>