<section style="padding-top: 0px;">

<div class="header h2-title">
        <button class="btn" style="padding-left: 0rem;"> <%= link_to users_path, class: "nor-button small" do %>
		<%= fa_icon "arrow-circle-left", size: '3x' %><span class="lbl">Back</span><% end %>
		</button>
    </div>

<div class="header2">
    <h2 class="active h2-title">Admin Dashboard</h2>
</div>

<div class="h2-title">
    <h3 class="text upper">Edit Home Page </h3>
</div> 
<br>
<table class="styled-table small">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Heading 1</th> 
        <th>Heading 1 Description</th>
        <th>Heading 2</th>
        <th>Heading 2 Description</th>   
        <th>Action</th>
              
    </tr>


<% @edithomepages.each do |edithomepage| %>
    <tr>
        <td><%= edithomepage.name %></td>
        <td><%= edithomepage.description  %></td>
        <td><%= edithomepage.h1  %></td>
        <td><%= edithomepage.d1  %></td>
        <td><%= edithomepage.h2  %></td>
        <td><%= edithomepage.d2  %></td>
        <td><%= button_to 'Edit', edit_edithomepage_path(edithomepage), method: 'get' %> </td>
    </tr>
<% end %>

</table>

</section>
