

<%= render "layouts/navbar2", user: @edithomepage %>
<section style="padding-top: 10px;">
<button class="btn btn-decor" style="border:0; text-decoration:none !important; outline:none">
</button>
<div class="wrapper fadeInDown">
<div id="formContent">

<%= form_with model: @edithomepage do |form| %>

	
	<div>
    <h2 class="active"> Edit Home Page </h2>
		<br></br>
		<%= form.label "Background photo: " %>
        <%= form.file_field :image, placeholder: "image" %>
		<%= form.submit "Submit" %>
    </div>

	<div>
	<table style="text-align: left">
	<tr>
		<th>Name</th>
		<th>Description</th>
	
	</tr>

	<% @edithomepages.each do |edithomepage| %>
    <tr>
    <td><%=  edithomepage.name    %></td>
    <td><%= edithomepage.description %></td>
    <td><%= button_to 'Edit', edit_edithomepage_path(edithomepage), method: 'get'%></td>
	<% end %>
</table>
	</div>
<% end %>
</div>
</div>
</section>
<%= render "layouts/footer" %>