
<br></br>
<br></br>

<%= link_to "Back to Edit home page", edithomepages_path %>
<h1>Edit Sections</h1>

<%= render "layouts/navbar2", user: @edithomepage %>
<section style="padding-top: 10px;">
<button class="btn btn-decor" style="border:0; text-decoration:none !important; outline:none">
</button>
<div class="wrapper fadeInDown">
<div id="formContent">
<%= form_with model: @edithomepage do |form| %>
  <div>
  <h2 class="active"> Edit Description </h2>

   </div>
  <div>
      <%= form.text_field :description, placeholder: "Description" %>
  </div>
<% end %>
</div>
</div>
</section>
<%= render "layouts/footer" %>