
<style>
.section {
    margin: 80px;
}
.notice {
	border-radius: 5px;
	padding: 10px;
	background: #d8ecdb;
	color: #295529;
}
.alert {
	border-radius: 5px;
	padding: 10px;
	color: red;
}
</style>

<div>
  <%= render "layouts/navbar2", user: @user %>
</div>
<div id="section">
<div style="margin-top: 50px">
<% flash.each do |type, msgs| %>
  <div class="notice">
  <% if Array === msgs %>
    <ul>
    <% msgs.each do |msg| %>
      <li class=<%=msg[0..4].to_s.chomp == 'Error'.to_s.chomp ? :"alert" : :"notice"  %> ><%= msg %></li>
    <% end %>
    </ul>
  <% else %>
    <%= msgs %>
  <% end %>
  </div>
<% end %>
</div>

<div class="header">
<h2 class="active h2-title">Users</h2>
</div>


<div class="align-table">

<button class="btn" style="padding-left: 0rem;"> <%= link_to "Create New User", new_user_path, class: "back-button" %> </button>
<button class="btn" style="padding-left: 0rem;"> <%= link_to "Events", event_index_path, class: "back-button" %> </button>
<button class="btn" style="padding-left: 0rem;"> <%= link_to "Pending Users", pendingApproval_path, class: "back-button" %> </button>
<table class="styled-table">
    <tr>
        <th> First Name <%= link_to (@attr == 'first' ? (@order== true ? :'🔼' : :'🔽') : :'⬜'), users_path(:attr => 'first', :order => @attr=='first' ? !@order : :false) %></th>
        <th> Last Name <%= link_to (@attr == 'last' ? (@order== true ? :'🔼' : :'🔽') : :'⬜'), users_path(:attr => 'last', :order => @attr=='last' ? !@order : :false) %></th>
        <th> Email </th>
        <th> Phone Number </th>
        <th> Classification <%= link_to (@attr == 'class' ? (@order== true ? :'🔼' : :'🔽') : :'⬜'), users_path(:attr => 'class', :order => @attr=='class' ? !@order : :false) %></th>
        <th> Role <%= link_to (@attr == 'role' ? (@order== true ? :'🔽' : :'🔼') : :'⬜'), users_path(:attr => 'role', :order => @attr=='role' ? !@order : :true) %></th>
        <th> T-Shirt <%= link_to (@attr == 'size' ? (@order== true ? :'🔼' : :'🔽') : :'⬜'), users_path(:attr => 'size', :order => @attr=='size' ? !@order : :false) %></th>
        <th> Points <%= link_to (@attr == 'points' ? (@order== true ? :'🔼' : :'🔽') : :'⬜'), users_path(:attr => 'points', :order => @attr=='points' ? !@order : :false) %></th>
        <th> Action </th>
        
    </tr>


<% @users.each do |user| %>
    <tr>
        <td><%= user.firstName %></td>
        <td><%= user.lastName  %></td>
        <td><%= user.email  %> </td>
        <td><%= '('+user.phoneNumber[0..2]+')'+'-'+user.phoneNumber[3..5]+'-'+user.phoneNumber[6..]   %> </td>
        <td><%= user.classification %> </td>
        <td><%= user.role == 0 ? :"Member" : :"Admin"  %> </td>
        <td><%= user.tShirtSize  %> </td>
        <td><%=  user.get_total_points(user) %> </td>
        <td><%= link_to "View Details", user %> </td>
    </tr>
<% end %>

</table>

<% if userlogin_signed_in? %>
  <div>Signed in as: <%= current_userlogin.email %></div>
  <div><%=  @auth.role == 0 ? :"Member" : :"Admin"  %> </div>
<% end %>


<br>

<% if @auth.role == 1 %>
<div align="center" >
    <div>
        <h4> Import Data From CSV file </h4>
        <%= form_tag import_users_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import CSV", class: "button" %>
        <% end %>
        <button class="btn " style="padding-left: 0rem;"> <%= link_to "Download Email List", users_path+'.csv', class: "back-button" %> </button>
    </div>
</div>
<% end %>
</div>
</div>