<%= render "layouts/navbar2", user: @user %>

<div style="margin-top: 100px" >
    <h1>Hello, <%= @user.firstName+" "+@user.lastName%> </h1>
    
    <button class="btn " style="padding-left: 0rem;"> <%= link_to "Edit info", edit_user_path(@user) , class: "back-button" %> </button>
    <%unless (@user.approved==true)%>
        <h3>Your account is pending approval.</h3>
    <%else%>
        <h3> Current points: <%= @user.get_total_points(@user)%> </h3>

        <%if (@display==5)%>
            <p>Displaying most recent events attended: </p>
        <%else%>
            <p>Displaying all events attended: <p>
        <%end%>
        <div> 
            Events (<%=@num_events%>):
            <ul>
                <% @user_events.each do |event| %>
                    <li><%= event %> </li>
                <% end %>
            </ul>
            Point Events (<%=@num_point_events%>):
            <ul>
                <% @user_pevents.each do |event| %>                                                
                    <li><%= event %> </li>
                <% end %>
            </ul>
        </div>
        <%unless (@show_all)%>
            <button class="btn " style="padding-left: 0rem;"> <%= link_to "Show All Events", member_dashboard_path(:show_all => true) , class: "back-button" %> </button>
        <%else%>
            <button class="btn " style="padding-left: 0rem;"> <%= link_to "Only Show Recent Events", member_dashboard_path(:show_all => nil) , class: "back-button" %> </button>
        <%end%>
    <%end%>
</div>