<style>
select{
  -webkit-appearance: none;
  padding: 15px 10px 15px 10px;
  width: 85%;
  border: 1px solid #E8EAED;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098A9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
  text-align-last: center;
}
</style>
<!--<p id="notice"><%= flash[:notice] %></p>-->

<section style="padding-top: 0px;">
 <div class="header h2-title">
        <button class="btn" style="padding-left: 0rem;"> <%= link_to users_path, class: "nor-button small" do %>
        <%= fa_icon "arrow-circle-left", size: '3x' %><span class="lbl">Back</span><% end %>
        </button>
    </div>
 <div class="header2">
        <h2 class="active h2-title">Admin Dashboard</h2>
    </div>

    <div class="h2-title">
        <h3 class="text upper">New User</h3>
    </div>
    
<div class="wrapper fadeInDown">
<div id="formContent">
<%= form_with model: @user do |form| %>
    <div>
    <h2 class="active"> New User </h2>
        <%= form.email_field :email, placeholder: "Email", value: "" %>
    </div>

    <div>
       <br>
        <%= form.text_field :firstName, placeholder: "First Name", value: "" %>
        <% @user.errors.full_messages_for(:firstName).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <br>
        <%= form.text_field :lastName, placeholder: "Last Name", value: "" %>
        <% @user.errors.full_messages_for(:lastName).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    
    <div class="select">
        <br>
        <%= form.select :role, options_for_select([["Select a Role", ""], ["Member", 0], ["Admin", 1]]), id: "slct", value: "" %>
    </div>

    <div>
        <br>
        <%= form.telephone_field :phoneNumber, placeholder: "Phone Number", value: "" %>
    </div>

    <div>
       <br>
        <%= form.select :classification, options_for_select([["Select a Classification", ""], ["Freshman", "Freshman"], ["Sophomore", "Sophomore"], ["Junior", "Junior"], ["Senior","Senior"]]), :prompt => 'Select Year', value: "" %>
    </div>

    <div>
        <br>
        <%= form.select :tShirtSize, options_for_select([["Select a TShirt Size", ""], ["XXS", "XXS"], ["XS", "XS"], ["S", "S"], ["M","M"], ["L","L"], ["XL","XL"], ["XXL","XXL"]]), :prompt => 'Select Size', value: ""%>
    </div>

    <div class="double" align="center">
    <br>
        <%= form.label :participationPoints, "Participation Points", class: "label"%>
       <div style="width: 50%;"> <%= form.number_field  :participationPoints, placeholder: "0", class: "field" , value: ""%></div>
    </div>


    <div class="double" align="center">
        <%= form.label :optInEmail , "Opt-In Email", class: "label" %>
        <div style="width: 50%;"><%= form.check_box :optInEmail, class: "field" %></div>
   </div>

    <div class="double" align="center">
        <%= form.label :approved, class: "label" %>
        <div style="width: 50%;"><%= form.check_box :approved, class: "field" %></div>
   </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>
</div>
</div>
</section>