<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

.center {
  margin-left: auto;
  margin-right: auto;
} 

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<section style="padding-top: 0px;">
   <div class="header h2-title">
        <button class="btn" style="padding-left: 0rem;"> <%= link_to users_path, class: "nor-button small" do %>
        <%= fa_icon "arrow-circle-left", size: '3x' %><span class="lbl">Back</span><% end %>
        </button>
    </div>
  <div class="header2">
      <h2 class="active h2-title">Admin Dashboard</h2>
  </div>

  <div class="h2-title">
      <h3 class="text upper">User Details </h3>
  </div>  

  <div class="center-col">
  <h2 class="active name" ><%= @user.firstName %> <%= @user.lastName %></h2>
  <table  class="center styled-table small"> 
      <tr>    
          <th>Attribute</th>    
          <th>Information</th>
      </tr>
  <tr> <td> Email </td> <td> <%= @user.email %> </td> </tr>
  <tr> <td> Role </td> <td> <% if @user.role == 0 %> Member <%end%> <% if @user.role == 1 %> Admin <%end%>  </td> </tr>
  <tr> <td> First Name </td> <td> <%= @user.firstName %>  </td> </tr>
  <tr> <td> Last Name </td> <td> <%= @user.lastName %>  </td> </tr>
  <tr> <td> Phone Number </td> <td> <%= '('+@user.phoneNumber[0..2]+')'+'-'+@user.phoneNumber[3..5]+'-'+@user.phoneNumber[6..] %>  </td> </tr>
  <tr> <td> Classification </td> <td> <%= @user.classification %>  </td> </tr>
  <tr> <td> TShirt Size </td> <td> <%= @user.tShirtSize %>  </td> </tr>
  <tr> <td> Email Opt-In </td> <td> <%= @user.optInEmail %>  </td> </tr>
  <tr> <td> Participation Points </td> <td> <%= @user.participationPoints %>  </td> </tr>
  <tr> <td> Approved </td> <td> <%= @user.approved%>  </td> </tr>

  </table>

  <div  align="center" >
  <button class="btn"> <%= link_to edit_user_path(@user), class: "nor-button small" do %><%= fa_icon "user-edit", size: '3x' %><span class="lbl">Edit</span><% end %></button>

  <button class="btn"> <%= link_to user_path(@user), method: :delete, data: { confirm: "Are you sure?" }, id: "delete-btn",class: "nor-button small" do %><%= fa_icon "trash-alt", size: '3x' %><span class="lbl">Delete</span><% end %></button>
  </div>
  </div>

</section>