<style>
.alert {
	border-radius: 5px;
	padding: 15px;
	background: #d8ecdb;
	color: #295529;
}
</style>
<%= render "layouts/navbar2", user: @user %>
<section style="padding-top: 100px; padding-bottom: 535px;">

	<div class="header2">
        <h2 class="active h2-title"><%= @event.name %></h2>
    </div>

	<% flash.each do |type, msg| %>
		<div class="alert">
			<%= msg %>
		</div>
	<% end %>

	<div class="h2-title">
        <h3 class="text upper"><%= @user.nil? ? "Please register to attend this event." : "Registered User: " + @user.firstName + " " + @user.lastName%></h3>

		<% if !@user.nil? %>
			<button class="btn" style="padding-left: 0rem;"> <%= link_to "Attend", attend_event_path(@event), method: :post, class:"back-button" %> </button>
		<% else %>
			<button class="btn" style="padding-left: 0rem;"> <%= link_to "Log In", userlogin_google_oauth2_omniauth_authorize_path %> </button>
		<% end %>
	</div>
</section>
