<section style="padding-top: 0px;">
    <div class="header">
        <h2 class="active h2-title">Events</h2>
    </div>

    <div class="h2-title">
        <h3 class="text upper">Delete <%= @event.name %>?</h3>
        <button class="btn" style="padding-left: 0rem;"> <%= link_to event_index_path, class: "nor-button small" do %>
        <%= fa_icon "arrow-circle-left", size: '3x' %><span class="lbl">Back</span><% end %>
        </button>
        <button class="btn" style="padding-left: 0rem;"><td><%= link_to event_path(@event), method: :delete, data: {confirm: "Are you sure you want to delete \"#{@event.name}\"?\nOnce deleted, the data will be lost forever. Points that students received from this event will also dissappear!"}, id: "delete-btn",class: "nor-button small" do %>
        <%= fa_icon "trash-alt", size: '3x' %><span class="lbl">Delete</span><% end %></td>
        </button>
    </div>

    <%= render "form", event: @event %>

</section>
