<%= render "layouts/navbar2", user: @user %>
<section style="padding-top: 0px;">
    <div class="header">
        <h2 class="active h2-title">Admin Dashboard</h2>
    </div>

    <div class="h2-title">
        <h3 class="text upper">Delete <%= @event.name %>?</h3>
        <button class="btn" style="padding-left: 0rem;"> <%= link_to "Back to Events", event_index_path, class:"back-button" %> </button>
        <button class="btn" style="padding-left: 0rem;"><td><%= link_to "Delete", event_path(@event), method: :delete, data: {confirm: "Are you sure you want to delete \"#{@event.name}\"?\nOnce deleted, the data will be lost forever. Points that students received from this event will also dissappear!"}, class:"back-button", id: "delete-btn" %></td>
    </div>

    <%= render "form", event: @event %>

</section>
<%= render "layouts/footer" %>