
<section style="padding-top: 0px;">
	   <div class="header h2-title">
        <button class="btn" style="padding-left: 0rem;"> <%= link_to event_index_path, class: "nor-button small" do %>
        <%= fa_icon "arrow-circle-left", size: '3x' %><span class="lbl">Back</span><% end %>
        </button>
    </div>

	<div class="header2">
		<h2 class="active h2-title">Events</h2>
	</div>

	<div class="h2-title">
		<h3 class="text upper">Add An Event</h3>
	</div>


<div class="wrapper fadeInDown">
	<div id="formContent">
	<h2 class="active">New Event</h2>
	<p>* denotes required fields.</p>
	<p>A capacity of 0 represents "No Limit"</p>


	<% if @event.errors.any? %>
		<% @event.errors.full_messages.each do |message|%>
		<p style="color: red;"><%= message %></p>
		<%end%>
	<%end%>

	</br> 

	<%= form_with url: create_event_path, method: :post, model: @event, local: true do |form| %>
		<table style="text-align: center !important;">
			<tr>
				<th><%= form.label :name %>*</th>
				<td><%= form.text_field :name, placeholder: "Name", required: true %></td>
			</tr>
			<tr>
				<th><%= form.label :description %></th>
				<td><%= form.text_field :description, placeholder: "Description" %></td>
			</tr>
			<tr>
				<th><%= form.label :points %>*</th>
				<td><%= form.number_field :points, placeholder: "Points", required: true %></td>
			</tr>
			<tr>
				<th>Start Time*</th>
				<td><%= form.datetime_field :startDate, required: true %></td>
			</tr>
			<tr>
				<th>End Time*</th>
				<td><%= form.datetime_field :endDate, required: true %></td>
			</tr>
			<tr>
				<th>Capacity*</th>
				<td><%= form.number_field :capacity, placeholder: "Capacity", required: true %></td>
			</tr>
			<tr>
				<th>Document(s)</th>
				<td><%= form.file_field :documents, multiple: true, direct_upload: true %></td>
			</tr>
		</table>
		<%= form.submit "Add Event" %>
	<% end %>

	</div>
</div>

</section>