<style>
.alert {
	border-radius: 5px;
	padding: 15px;
	background: #d8ecdb;
	color: #295529;
}
</style>

<%= render "layouts/navbar2", user: @user %>
<div class="header">
<h2 class="active h2-title">Event User Document Uploads</h2>
</div>
<%= render "form", event: @event %>

<% flash.each do |type, msg| %>
	<div class="alert">
		<%= msg %>
	</div>
<% end %>

<h1>Event: <%= @event.name %></h1>
<h1>User: <%= @user.nil? ? "Register first!" : "Hello " + @user.email %></h1>

<%= form_with :method => :POST, url:"/event/#{@event.id}/upload_user" do |form| %>
    
    <%= form.file_field :documents, multiple: true, direct_upload: true %>
	<%= hidden_field_tag "user_id", "#{@user.id}" %>
	<%= hidden_field_tag "event_id", "#{@event.id}" %>
    
    <%= form.submit "Upload" %>
<%end%>

