<!DOCTYPE html>
<html>
  <head>
    <title>GoogleOauthDevise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title>Veterinarians Without Borders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Veteranians Without Borders</a>
      </div>  
      <ul class="nav navbar-nav" style=" text-align: center">
        <li class="<%= request.env['PATH_INFO']=='/' ? :'active' : :'' %>"><a href="/">Home</a></li>
        <li class="<%= request.env['PATH_INFO']=='/pages/member' ? :'active' : :'' %>"><a href="pages/member">Member Page</a></li>
        <li class="<%= request.env['PATH_INFO']=='/event' ? :'active' : :'' %>"><a href="<%= event_index_path %>">Events</a></li>
        <li class="<%= request.env['PATH_INFO']=='/users' ? :'active' : :'' %>"><a href="<%= users_path %>">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/userlogins/sign_out"><span class="glyphicon glyphicon-log-in"></span> Signout</a></li>
        <li><a href="<%= userlogin_google_oauth2_omniauth_authorize_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
  </nav>
    <div class="container">
      <body>
        <%= yield %>
        <% if flash.any? %>
        <% flash.each do |key, value| -%>
        <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
      <% end -%>
    <% end %>
      </body>
    </div>

</html>
