<table>
	<tr>
		<th>Event</th>
		<td><%= @event.name %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @event.description %></td>
	</tr>
	<tr>
		<th>Points awarding</th>
		<td><%= @event.points %></td>
	</tr>
	<tr>
		<th>Start Date</th>
		<td><%= Event.dateTimeDisplay(@event.startDate) %></td>
	</tr>
	<tr>
		<th>End Date</th>
		<td><%= Event.dateTimeDisplay(@event.endDate) %></td>
	</tr>
</table>