 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top white" id="mainNav" style="border-bottom: 2px solid #a36666;">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand js-scroll-trigger" do %> 
      <%= image_tag "VWB-logo.png" %><% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: maroon;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item nav-text">
            <%= link_to "Home", root_path, class: "nav-link nav-text" %>
          </li>
          <%if @auth%>
           <li class="nav-item">
          <%= link_to "Member", member_dashboard_path, class: "nav-link nav-text" %>
          </li> 
        <%end%>
          <%if @auth%>
            <li class="nav-item"> 
              <%= link_to "Events", event_index_path, class: "nav-link nav-text" %>
            </li>
          <%end%>
          <%if @auth%>
            <%if admin? %> 
              <li class="nav-item">
              <%= link_to "Admin", users_path, class: "nav-link nav-text" %>
              </li> 
            <%end%>
          <%end%>
          <% if !userlogin_signed_in? %>
              <li class="nav-item">
              <%= link_to userlogin_google_oauth2_omniauth_authorize_path, class: "nav-link nav-text" do %>
                <%= fa_icon "sign-in-alt", text: "Sign In" %><% end %>              
                </li>
          <%end%>
          <% if userlogin_signed_in? %>
              <li class="nav-item">
              <%= link_to destroy_userlogin_session_path, class: "nav-link nav-text" do %>
                <%= fa_icon "sign-out-alt", text: "Log Out" %><% end %>              
                </li>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>